<html>
<body>
	
	<p style="color:#df4a29;font-size:24px;">Bienvenido</p>
	<p>Dentro de las <strong>pr칩ximas 72</strong> horas te eviaremos un correo para darte toda la informaci칩n segun los requerimentos de tu solicitud.<br> 
	Mientras tanto puedes revisar en nuestra p치gina web algunos de nuestros trabajos</p>
	<p>
		Para mayor informaci칩n puedes contactarnos directamente a los correos<br>
		dachury@lubu.com.co <br>
		daniel.arce@lubu.com.co
	</p>
	<img src="http://cryptic-spire-3299.herokuapp.com/img/logo.png">

</body>
</html>