 <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
   	  }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
   
    </style>

    <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted"><img src="img/logo.png"></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Software</h1>
        <p class="lead">Usamos estrategia, tecnología y creatividad para ayudar a gente como tu.</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <h2>Highly customizable</h2>
          <p>With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.</p>

          <div class="row-fluid">
            <ul class="thumbnails">

            <li class="span3">
                <div class="thumbnail">
                  <img src="img/mail_send.png">
                  <div class="caption">
                    <h3></h3>
                    <p>Las grandes ideas no tienen códigos postales. Trabajamos en todo el mundo.</p>
                    <p><a href="#" class="btn btn-info"><i class="icon-plus"></i> Mas info</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="img/trabajo.png">
                  <div class="caption">
                    <h3></h3>
                    <p>Obtenga una muestra del trabajo y productos que hacemos en el mundo digital.</p>
                     <p><a href="#" class="btn btn-info"><i class="icon-plus"></i> Mas info</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="img/user_manage.png">
                  <div class="caption">
                    <h3></h3>
                    <p>Somos un solo equipo que cruza disciplinas, la experiencia y las fronteras.</p>
                     <p><a href="#" class="btn btn-info"><i class="icon-plus"></i> Mas info</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="img/search.png">
                  <div class="caption">
                    <h3></h3>
                    <p>Investigar, conceptualizar, diseñar, desarrollar e implementar soluciones.</p>
                    <p><a href="#" class="btn btn-info"><i class="icon-plus"></i> Mas info</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

      <hr>

      <div class="footer">
        <p class="text-center">&copy; Lubu SAS 2013</p>
      </div>

    </div> <!-- /container -->
</body>
