<style type="text/css">
#centro{
  margin-left: auto;
  margin-right: auto;
  height: 384px;
}
.hero-unit {
  background-image:url('/img/bg.jpg');
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  height: 264px;
}
.home-seccion{
  background: whitesmoke;
  padding: 40px 0 80px 0;
}
.h2-blanco{
  color:white;
}
.h2-orange{
  color:#df4a29;
}
.h2-blue{
  color: #019cdf;
}
</style>
  <div class="container">
    <!--clase hero inicia -->
    <div class="hero-unit">
    </br>
      </br>
        </br>
          </br>
      <h2 class="h2-blanco">Software y Diseño</h2>
      <p class="h2-blanco">Usamos estrategia, tecnología y creatividad para ayudar a gente como tu.</p>
      <p>
        <a href="/contacts/new" class="btn btn-inverse btn-large">Contactenos</a>
      </p>
    </div><!--clase hero termina -->

    <div class="container"><!--container 2 inicia -->
      <div class="row-fluid">
         <!--thumbnail inicia -->
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img src="/img/img1.jpg">
              <div class="caption">
                <h3></h3>
                <p>
                  Investigar, conceptualizar, diseñar, desarrollar e implementar soluciones.
                </p>
                <p>
                 
                </p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/img/img3.jpg">
              <div class="caption">
                <h3></h3>
                <p>
                  Obtenga una muestra del trabajo y productos que hacemos en el mundo digital.
                </p>
                <p>
                  
                </p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/img/img2.jpg">
              <div class="caption">
                <h3></h3>
                <p>
                  Las grandes ideas no tienen códigos postales. Trabajamos en todo el mundo.
                </p>
                <p>
                  
                </p>
              </div>
            </div>
          </li>
        </ul> <!--thumbnail termina -->
      </div>
    </div><!--container2 termina -->

    <div class="home-seccion"><!--seccion #1 -->
      <div class="row-fluid">
        <h2 class ="h2-blue"> Portafolio</h2>
      </br>
        <!--thumdnail inicia -->
        <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="/img/hotelcolonial_web.jpg" alt="">
          </a>
          <address>
            <strong>Hotel Colonial, Web.</strong><br>
            2012<br>
          </address>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="/img/inssol_web.jpg" alt="">
          </a>
          <address>
            <strong>Inssol, Web.</strong><br>
            2012<br>
          </address>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="/img/turisco_web.jpg" alt="">
          </a>
          <address>
            <strong>Turisco, Web.</strong><br>
            2012<br>
          </address>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="/img/tmjuridico_web.jpg" alt="">
          </a>
          <address>
            <strong>TmJuridico, portafolio.</strong><br>
            2012<br>
          </address>
        </li>
      </ul>
    </div>
  </div><!--seccion #1 termina -->
  <div class="container">
    <div class="row-fluid">
        <h2 class ="h2-orange"> Experiencias</h2>
        <!--thumdnail inicia -->
        <ul class="thumbnails">
        <li class="span4">
          <blockquote class="twitter-tweet" lang="es"><p>Developer <a href="https://twitter.com/search/%23lubu">#lubu</a> excelente trabajo!</p>&mdash; Diego Fernando A. (@diegoachury) <a href="https://twitter.com/diegoachury/status/301713809301704704">13 de febrero de 2013</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
        <li class="span4">
          <blockquote class="twitter-tweet" lang="es"><p><a href="https://twitter.com/search/%23lubu">#lubu</a> Excelente Trabajo Web.</p>&mdash; DANIEL ARCE POLANIA (@Darkniel234) <a href="https://twitter.com/Darkniel234/status/301716393387245569">13 de febrero de 2013</a></blockquote>
        </li>       
      </ul>
    </div>
  </div><!-- /container -->
  <hr>
  <div class="footer">
    <p class="text-center">&copy; Lubu SAS 2013</p>
  </div>
</div> <!-- /container -->
